h1{
  font-size:60px;
  color:white;
  font-family:cursive;
  background-color:red;
  
  
  
}
img{
  height:40px;
  width:40px;
}
li{
  font-size:30px;
  list-style:none;
}
a{
  font-size:50px;
  color:red;
}
.scratch{
  color:red;
}
kaneo{
  color:red;
}

yuto{
  color:blue;
}


